@font-face {
    font-family: 'space_ageregular';
    src: url('/fonts/space-age/space-age-webfont.woff2') format('woff2'),
         url('/fonts/space-age/space-age-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    color: #939393;
    line-height: 12px;
    background-color: #fff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

ul,
li,
ol {
    list-style-type: none;
}

h1 {
    color: #000;
    font-family: 'space_ageregular', Sans-serif, Arial;
    font-size: 60px;
    line-height: 50px;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.active_text {
    color: black;
}

.start_design {
    border: none;
    border-radius: 5px;
    padding: 22px 25px;
    background-color: #735CFF;
    color: #fff;
}